.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.failure-container {
  display: flex;
  flex-direction: column;
}

.failure-view {
  height: 150px;
  background-size: cover;
}

.failure-heading {
  font-size: 30px;
  font-weight: bold;
  color: #0f172a;
}

.failure-content {
  font-size: 18px;
  color: #64748b;
}

.no-products-container {
  display: flex;
  flex-direction: column;
}

.no-products-view {
  height: 150px;
  background-size: cover;
}

.no-products-heading {
  font-size: 30px;
  color: #0f172a;
  font-weight: bold;
}

.no-products-content {
  color: #64748b;
  font-size: 15px;
}
