.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */

.search-bar {
  background-color: #f1f5f9;
  width: 200px;
  padding: 5px;
}

.search-content {
  border-width: 0;
  background-color: transparent;
}

.filters-category-heading {
  color: #0f172a;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.filters-list {
  list-style-type: none;
  padding: 0;
}

.rating-image {
  height: 20px;
  background-size: cover;
  padding-right: 10px;
}

.each-rating {
  margin-bottom: 10px;
  display: flex;
}

.each-filter-item {
  font-size: 14px;
  margin-bottom: 10px;
  color: #64748b;
  font-weight: 500;
}

.each-rating-item {
  font-size: 14px;
  margin-bottom: 10px;
  color: #64748b;
  font-weight: 500;
  margin-top: 0;
}

.clear-filters-button {
  background-color: transparent;
  color: #0967d2;
  border-color: #0967d2;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
}
